* {
    text-align: center;
}

.primary-box {
    background-color: rgb(66, 65, 65);
    color: white;
    min-height: 37vh;
    padding-top: 3px;
}

.inside-box {
    background-color: rgb(166, 247, 240);
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;    
}

.secondary-box {
    background-color: rgb(224, 222, 222);
    color: black;
    min-height: 37vh;
    padding-top: 3px;
    }

.container {
    background-color: rgb(107, 46, 2);    
    padding-top: 5px;
    padding-bottom: 5px;
} 

